* {
    
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
}








/*edicion nav*/

.ale {
    position:absolute ;
    }
    
    
    body {
        margin: 0;
        font-family:Arial, Helvetica, sans-serif ;
    }
    
    header {
        width: 100%;
        background-color: rgb(253, 152, 231);
        position: fixed;
        top: 0;
        left: 0;
       
    }
    
    #btn-menu {
        display: none; 
    }
    
    header label {
        box-sizing: content-box;
        display: none;
        height: 30px;
        width: 30px;
        padding: 10px;
        border-right: 1px solid white;
    }
    
    header label:hover {
        cursor: pointer;
        background: rgba(0,0,0,0.3) ;
    }
    
    .menu ul {
        margin: 0;
        list-style: none;
        padding: 0;
        display: flex;
    
    }
    
    .menu li {
        border-right: 1px solid white;
    }
    
    .menu li:hover {
        background: rgba(0,0,0,0.3);
    }
    
    .menu li a {
        display: block;
        padding: 15px 20px;
        color: white;
        text-decoration: none;
    }
    
    
    @media (max-width: 768px) {
    
        header label {
            display: block;
        }
    
    
        .menu {
            position: absolute;
            background-color: rgb(253, 152, 231);
            width: 70%;
            margin-left: -70%;
            transition: all 0.5s;
        }
    
    
        .menu ul {
            flex-direction: column;
        }
    
    
        .menu li {
            border-top: 1px solid white;
        }
    
    
        #btn-menu:checked ~ .menu {
            margin: 0;
        }
    
    }










/*edicion totodos los titulos*/

.titulos {
    font-family: 'Square Peg', cursive;
    font-size: 35px;
    text-align: center;
}











/*edicion home*/


main {
    margin: 60px 20px 20px 20px;
    border: 5px solid rgb(253, 152, 231);
    border-radius: 10px;
    text-align: center;
}

.encabezado-home {
    padding-top: 20px;
}





.titulo-servicios {
    text-align: center;
    font-size: 45px;
    color: rgb(0, 0, 0);

}

.servicios {
    display: flex;
    flex-wrap: wrap;
}


.eventos-1 {
    flex: 1;
    padding: 25px;
    margin: 20px;
    border: 3px solid rgb(253, 152, 231);
    min-width: 250px;
}


.catering {
    flex: 1;
    padding: 25px;
    margin: 20px;
    min-width: 250px;
    border: 3px solid rgb(253, 152, 231);
}

.servicios img {
    margin: 50px 30px ;
    width: 200px;
    height:200px;
}



.individuales {
    flex: 1;
    padding: 25px;
    margin: 20px;
    min-width: 250px;
    border: 3px solid rgb(253, 152, 231);
}


.cajas {
    transition: 0.5s;
    object-fit: cover;
}


@media (min-width:1024px) {
.cajas:hover{
    transform: scale(1.05);
    }
}









/* edicion quienes somos*/


.historia {
    margin: 60px 20px 20px 20px;
    border: 5px solid rgb(253, 152, 231);;
    border-radius: 10px;
}



.mini-galeria__contenedor {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-columns: 150px;
    padding: 20px;
    grid-gap: 5px;
    justify-content: space-between;

}


.mini-galeria__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.8s;
}

@media (min-width:600px) {
    .mini-galeria__contenedor {
        grid-template-columns: repeat(2, 1fr);
    }
}


@media (min-width:768px) {
    .mini-galeria__contenedor {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width:1024px) {
    .mini-galeria__contenedor {
        grid-template-columns: repeat(4, 1fr);
    }
    .mini-galeria__img:hover{
        transform: scale(1.05);
    }
}





















/*edicion de la galeria*/

.titulo-galeria {
    margin-top: 60px;
    text-align: center;
}

.galeria__contenedor {
    
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-columns: 150px;
    padding: 20px;
    grid-gap: 5px;
}

.galeria-item {
    position: relative;
    overflow: hidden;
}

.galeria__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
}





@media (min-width:600px) {
    .galeria__contenedor {
        grid-template-columns: repeat(2, 1fr);
    }
}


@media (min-width:768px) {
    .galeria__contenedor {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width:1024px) {
    .galeria__contenedor {
        grid-template-columns: repeat(4, 1fr);
    }

    .galeria__img:hover{
        transform: scale(1.05);
        }
}









/*edicion contacto*/

.titulo-contacto {
    margin-top: 60px;
    text-align: center;
    font-size: 35px;
    color: rgb(0, 0, 0);
}

.contact {
    display: flex;
    flex-wrap: wrap;

}


.sede {
    flex: 1;
    padding: 25px;
    margin: 20px;
    border: 3px solid rgb(253, 152, 231);
    border-radius: 10px;
    min-width: 250px;

    text-align: center;
}


.eventos {
    flex: 1;
    padding: 25px;
    margin: 20px;
    min-width: 250px;


    border: 3px solid rgb(253, 152, 231);
    border-radius: 10px;
    text-align: center;
}


.escribinos {
    flex: 1;
    padding: 25px;
    margin: 20px;
    min-width: 250px;


    list-style-type: none;
    border: 3px solid rgb(253, 152, 231);
    border-radius: 10px;
    text-align: center;
}

.ingresa-datos {
    list-style-type: none;
    align-items: flex-start;
}


.boton-enviar {
    justify-items: flex-end;
}


.titulo-contacto {
    text-align: center;
    font-size: 35px;
    color: rgb(0, 0, 0);

}
.mapa {

    border: 5px solid black;
    margin: 50px;

    top: 0px; 
    left: 0px; 
    background-color: rgb(229, 227, 223);  
}


iframe{
    width: 100%;
}

.cajasContacto {
    transition: 0.5s;
    object-fit: over;
}

@media (min-width:1024px) {
    .cajasContacto:hover{
        transform: scale(1.05);
        }
}











/*edicion footer*/

footer{
    display: flex;
    align-items: center;
    justify-content: space-around;
   

}

footer ul {
    list-style-type: none;
}

footer ul li {
    display: inline-block;
    padding: 0 15px;
    
}



.texto-footer {
    text-align: center;
    margin: 30px;
}

